<footer class="footer">
    <div class="footer__container container">
        <div class="footer__top footer__row row d-flex">
            <div class="footer__col col col-3">
                <p class="footer__text">
                    Россия<br>
                    <a href="#" class="footer__number number link">+7 (812) 313-21-47</a>
                </p>
                <p class="footer__text">
                    Адрес:<br>
                    Москва, Кропоткина дом1,
                    БЦ Сенатор, офис 421
                </p>
                <p class="footer__text">
                    Режим работы:<br>
                    с 9:00 - 21:00
                </p>
            </div>
            <div class="footer__col col col-3">
                <h3 class="footer__title title title_h3">Услуги</h3>
                <ul class="footer__list list">
                    <li class="list__item">
                        <a href="#" class="list__link link">Ипотека</a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="list__link link">Кредиты</a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="list__link link">Оформление недвижимости</a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="list__link link">Дополнительные услуги</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col col col-3">
                <h3 class="footer__title title title_h3">Недвижимость<br> в Германии</h3>
                <ul class="footer__list list">
                    <li class="list__item">
                        <a href="#" class="list__link link">Для бизнеса</a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="list__link link">Для инвестиций</a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="list__link link">Для отдыха</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col col col-3">
                <div class="footer__inner">
                    <ul class="footer__soial social list d-flex">
                      <li class="social__item">
                            <a href="#" class="social__link icon icon-vk link">vk</a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link icon icon-od link">od</a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link icon icon-fb link">face</a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link icon icon-inst link">inst</a>
                        </li>
                    </ul>
                    <a href="#" class="footer__link footer__maplink link">Карта сайта</a>
                    <p class="footer__copy">
                        Copyright © 2019<br>
                        Все права защищены
                    </p>
                </div>
            </div>
        </div>
        <div class="footer__bottom d-flex">
            <p class="footer__personal personal">
                <a href="#" class="personal__link link">*Соглашение</a> об использовании персональных данных
            </p>
            <button type="button" class="footer__up up">
                <span class="up__circle"></span>
                <span class="up__text">наверх</span>
            </button>
            <button type="button" class="footer__btn btn">on-line консультант</button>
        </div>
    </div>
</footer>
<div class="remodal" data-remodal-id="modal-callback">
    <div class="remodal__box-title">
        <div class="remodal__title title title_h3">Заказать звонок</div>
    </div>
    <div class="contact-form">
        <div class="form-complete">
            <div class="form-complete__title title title_h3">Ваше сообщение отправлено</div>
            <div class="form-complete__subtitle">
                Ма свяжемся с Вами в ближайшее время
            </div>
            <a href="#" class="form-complete__button button">Cпасибо жду звонка</a>
        </div>
        <form action="#" class="remodal__form form form-ajax">
            <div class="form__inner remodal__grid wrap d-flex">
                <div class="form__group form__group_large сol">
                    <input type="text" class="form__element" name="username" placeholder="Ваше ФИО" required>
                </div>
                <div class="form__group form__group_large сol">
                    <input type="tel" class="form__element mask" name="phone" placeholder="Ваш телефон" required>
                </div>
            </div>
            <div class="form-group col form__group_large terms-conditions">
                <label for="license2">
                    <input id="license2" type="checkbox" class="checkbox-template" checked="">
                    <span> Я прочитал(а) и принимаю условия <a href="#" class="terms-conditions__link">пользовательского соглашения</a></span>
                </label>
            </div>
            <div class="box-center">
                <button class="remodal__btn header__callback">
                    Заказать звонок
                </button>
            </div>
        </form>
    </div>
    <button data-remodal-action="close" class="remodal-close"></button>
</div>
<div class="remodal modal-form" data-remodal-id="modal-form">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h2>Спасибо, ваше сообщение отправлено.</h2>
    <p>Мы свяжемся с Вами в ближайшее время.</p>
</div>
</div>
<div class="arrow-up"></div>
<script src="js/main.js"></script>
</body>

</html>