/*= ../../bower_components/owl.carousel/dist/assets/owl.carousel.min.css*/
/*= ../../bower_components/owl.carousel/dist/assets/owl.theme.default.css*/
/*= ../../bower_components/magnific-popup/dist/magnific-popup.css*/
/*=../../bower_components/remodal/dist/remodal-default-theme.css*/
/*=../../bower_components/remodal/dist/remodal.css*/


@import "partials/vars";
@import "partials/mixin";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin: 0px 0px 10px;
}

body {
    font-family: $font-montserrat;
    min-width: 320px;
    font-size: rem(16px);
    line-height: normal;
    background-color: #ffffff;
    color: #000;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    position: relative;
    width: 100%;
    flex: 1;
}

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

a,
button {
    cursor: pointer;
    color: #333333;
    background: transparent;
    border: none;
    font-family: Montserrat, sans-serif;
}

a {
    color: $color-main;
    text-decoration: underline;
}

.link {
    text-decoration: none;
    color: #000;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.overflow {
    overflow: hidden;
}

.container-big {
    width: 1700px;
    margin: 0 auto;
    max-width: 100%;
}

.container {
    width: 1250px;
    max-width: 100%;
    margin: 0 auto;
    padding-left: $spacing;
    padding-right: $spacing;
}

.row {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -$spacing;
    margin-right: -$spacing;
    list-style: none;
}

.col {
    padding-left: $spacing;
    padding-right: $spacing;
}

.col-1 {
    width: 8.33333333%;
}

.col-2 {
    width: 16.66666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.box-center {
    text-align: center;
}

input,
textarea {
    @include inputPlaceholder() {
        color: rgba(#000, 0.65);
    }
}

.form {
    position: relative;
    z-index: 1;
}

.form__input,
.form__textarea {
    &:before {
        content: '';
    }
}

.owl-stage {
    display: flex;
}

.owl-stage-outer {
    overflow: hidden;
}

.owl-nav.disabled {
    display: none;
}


.btn {
    font-size: rem(16px);
    color: #000;
    background-color: $color-main;
    padding: 21px 43px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 700;
    text-decoration: none;
    transition: box-shadow .3s;

    &_disabled {
        position: relative;
        opacity: .8;
        z-index: -1;
    }

    &_icon-arrow:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        background-image: url(../img/arrow_btn.png);
        background-repeat: no-repeat;
        background-position: center center;
        width: 6px;
        height: 12px;
        margin-left: 24px;
    }
}

h1 {
    font-size: 40px;
    margin: 15px 0px 20px;
    font-weight: 300;
}

h2 {
    font-size: 40px;
    margin: 10px 0px 15px;
    font-weight: 300;

}

h3 {
    font-size: 25px;
    margin: 10px 0px 15px;
    font-weight: 300;

}

h4 {
    font-size: 20px;
    margin: 5px 0px 10px;
    font-weight: 300;

}

h5 {
    font-size: 18px;
    margin: 5px 0px 10px;
    font-weight: 300;

}

h6 {
    font-size: 18px;
    margin: 5px 0px 10px;
    font-weight: 300;

}

ul,
ol {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 25px;
}

.list {
    list-style: none;
    margin: 0px;
}

table {
    border-collapse: separate;
    border: solid $color-main 1px;
    border-radius: 6px;
    -moz-border-radius: 6px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    padding: 11px 15px;
    border: 1px solid $color-main;
}

td,
th {
    border-left: solid $color-main 1px;
    border-top: solid $color-main 1px;
}

th {
    background-color: $color-main;
    border-top: none;
}

td:first-child,
th:first-child {
    border-left: none;
}

.title {
    line-height: normal;
    text-transform: uppercase;

    &_h1 {
        font-size: 45px;
    }

    &_h2 {
        font-size: 40px;
        font-weight: 300;
    }

    &_h3 {
        font-size: 25px;
    }

    &_center {
        text-align: center;
    }

    &_color-dark {
        color: #000;
    }

    &_color-white {
        color: #fff;
    }
}


.header {
    padding: 25px 0px 28px;
    display: flex;
    flex-direction: column;

    &__container {
        justify-content: space-between;
    }

    &__row {
        width: 100%;
    }

    &__contacts {
        justify-content: space-between;
        align-items: center;
        flex: 1;
    }

    &__center {
        margin: 26px 0px 32px;
    }

    &__desc {
        font-size: rem(13px);
        font-weight: 500;
        margin: 0px;
        margin-left: 14px;
    }

    &__social {
        margin-left: auto;
    }

    &__number {
        font-weight: 500;
        flex: 1 1 auto;
        padding: 0px 30px;

        &:first-child {
            padding: 0px;
            margin-right: 105px;
        }
    }

    &__counts {
        margin-left: 47px;
    }

}

.callback-btn {
    padding: 13px 20px;
    text-transform: uppercase;
    background-color: #0e51a3;
    font-weight: 300;
    font-size: rem(13px);
    color: #fff;
}

.social {
    align-items: center;
    justify-content: space-between;
    width: 182px;

    &__link {
        font-size: 0;
    }
}


.icon {

    &:before {
        content: '';
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    &-vk:before {
        background-image: url(../img/vk-icon.png);
        width: 27px;
        height: 16px;
    }

    &-od:before {
        background-image: url(../img/odnoklasniki-icon.png);
        width: 15px;
        height: 25px;
    }

    &-fb:before {
        background-image: url(../img/faceboook-icon.png);
        width: 13px;
        height: 26px;
    }

    &-inst:before {
        background-image: url(../img/instagram-icon.png);
        width: 23px;
        height: 23px;
    }

}


.number {

    &_icon:before {
        content: '';
        display: inline-block;
        vertical-align: -3px;
        background-size: 100%;
        margin-right: 10px;
    }

    &_icon-flag:before {
        background-image: url(../img/flag.png);
        background-repeat: no-repeat;
        width: 23px;
        height: 21px;
    }

    &_icon-whatsup:before {
        background-image: url(../img/whatsapp-icon.png);
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        vertical-align: -6px;
    }

    &_icon-skype:before {
        background-image: url(../img/scype-icon.png);
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        vertical-align: -7px;
    }

}

.logo {
    &__text {
        font-size: rem(35px);
        line-height: normal;
        font-weight: 700;
        margin-bottom: 0;
    }
}

.counts {
    &__info {
        margin: 0;
        font-weight: 700;
        font-size: rem(25px);

        &:first-child {
            margin-right: 42px;
        }
    }
}


.menu {
    justify-content: space-between;

    &__item {
        font-weight: 700;
    }

    &__link {
        padding: 10px 18px;
    }
}


.slider {

    &__item {
        height: 700px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__image {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        max-width: 100%;
        height: 100%;
    }

    &__content {
        position: relative;
        z-index: 1;
        width: 740px;
        max-width: 100%;
        background-color: rgba(#000, 0.8);
        color: #fff;
        font-weight: 300;
        padding: 47px 58px 41px;
        text-align: center;
        font-size: rem(15px);
        margin-bottom: 101px;
    }

    &__text {
        line-height: 26px;
    }

    &__title {
        text-transform: uppercase;
        font-weight: 300;
        font-size: rem(35px);
    }

    &__btn {
        margin-top: 30px;
    }
}

.anchors {
    background-color: #f3f3f3;
    margin-top: -375px;
    padding: 424px 0px 20px;

    &__list {
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        font-weight: 500;
        margin: 0px 25px;
    }

}

.hits {
    padding: 32px 0px 55px;
    background-color: #f3f3f3;

    &__grid {
        margin: 30px -20px 0px;
        justify-content: space-around;
    }

    &__col {
        overflow: hidden;
        position: relative;
        margin-bottom: 0;
        padding: 20px 20px 38px;
        min-width: 240px;
    }

    &__image {
        display: block;
        object-fit: cover;
        max-width: 275px;
        max-height: 275px;
        width: 100%;
        height: auto;
    }

    &__footer {
        text-align: center;
        padding: 22px 15px 0px;
        font-size: rem(15px);
        line-height: 22px;
    }

    &__text {
        font-weight: 500;
    }

    &__header {
        position: relative;
    }

    &__top {
        position: absolute;
        left: 20px;
        top: 20px;
        text-transform: uppercase;
        color: #fff;
        background-color: #f22c2c;
        padding: 7px 12px;
        font-weight: 300;
        font-size: rem(15px);
        line-height: 1;
        z-index: 99;
    }

    &__bottom {
        text-align: center;
        margin: 10px 0px 0px;
    }

    &__stat {
        display: block;
        line-height: 26px;
    }

    &__price {
        font-weight: 300;
        font-size: rem(30px);
    }

    &__btn {
        border: 3px solid #000;
        border-radius: 5px;
        font-weight: 700;
    }

    &__hidden {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $color-main;
        z-index: 1;
        padding: 105px 26px 36px;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    }
}

.hits-more {
    &__list {
        justify-content: center;
    }

    &__link {
        font-weight: 700;
        text-decoration: underline;
        display: inline-block;
        margin: 0px 20px 30px;
    }
}

.vantage {
    padding: 90px 0px 100px;
    color: #000;

    &__item {
        margin-bottom: 20px;
        text-align: center;
    }

    &__image {
        display: block;
        max-width: 122px;
        height: auto;
        margin: 0 auto;
    }

    &__list {
        padding: 96px 33px 0;
        justify-content: space-between;
    }

    &__text {
        text-transform: uppercase;
        font-size: rem(18px);
        line-height: 24px;
        font-weight: 500;
        margin: 54px 0px 0px;
        max-width: 180px;
    }
}

.callback {
    position: relative;
    height: 700px;
    background-image: url(../img/callback-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 15px 80px;

    &__inner {
        background-color: #fff;
        border-radius: 5px;
        width: 580px;
        max-width: 100%;
        min-height: 540px;
        margin-left: auto;
        flex: 0 1 auto;
        padding: 60px 124px 60px 140px;
    }

    &__title {
        margin: 0;
        font-weight: 300;
    }

    &__form {
        margin: 38px 0px 0px;
    }

}

.callback__form .form__group {
    margin-bottom: 42px;
}



.pluses {
    margin-top: -375px;
    padding: 485px 0 600px;
    background-color: #0e51a3;
    color: #fff;
    background-image: url(../img/pluses-image.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    z-index: 1;

    &__list {
        list-style: none;
        margin: 98px -20px 0px;
        justify-content: space-around;
    }

    &__item {
        min-width: 150px;
        margin-bottom: 20px;
    }

    &__col {
        padding-left: 20px;
        padding-right: 20px;
    }

    &__text {
        margin: 34px 0px 0px;
        font-size: rem(18px);
        line-height: 28px;
        text-transform: uppercase;
        padding-right: 15px;
    }

    &__image {
        min-height: 64px;
    }

}

.faq {
    padding: 98px 0px 106px;

    background-image: url(../img/faq-icon_one.png);
    background-repeat: no-repeat;
    background-position: left 100px;


    &__title {
        font-size: 70px;
        line-height: normal;
    }

    &__grid {
        margin-top: 47px;
        align-items: center;
        justify-content: space-between;
    }

    &__info {
        width: 650px;
        min-height: 205px;
        max-width: 100%;
        background-color: $color-main;
        font-weight: 700;
        font-size: 45px;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    &__content {
        margin-top: 86px;
        font-size: rem(18px);
        line-height: 28px;
    }

    &__inner {
        display: none;
    }

    &__list {
        margin-left: 37px;
    }

    &__link {
        font-size: rem(16px);
        font-weight: 700;
        text-decoration: underline;
        margin: 0px 0px 23px;
    }
}

.faq_two {
    background-image: url(../img/faq-icon_two.png);
    background-repeat: no-repeat;
    background-position: left 100px;
    padding-bottom: 76px;

}

.faq_two .faq__content {
    margin: 55px 0px 0px;
}

.faq__list .faq__item:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/arrow_list.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 11px;
    height: 20px;
    margin-right: 23px;
}

.faq__content p {
    margin-bottom: 19px;
}

.feedback {

    &__form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 75px 0px 0px;
    }

    &__inner {
        background-image: url(../img/feefback-line.png);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.1);
        padding: 62px 58px 83px;
    }
}


.services {

    &__grid {
        margin: 68px -20px 0px;
        justify-content: space-around;
    }

    &__col {
        padding-left: 20px;
        padding-right: 20px;
        min-width: 300px;
    }

    &__item {
        position: relative;
        min-height: 205px;
        margin-bottom: 40px;
        padding: 47px 35px;
        color: #fff;

        &_large {
            min-height: 450px;
            padding: 47px 55px;

        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &__inner {
        margin-top: auto;
    }

    &__title {
        margin-bottom: 25px;
    }

    &__link {
        color: $color-main;
        text-decoration: underline;
        font-weight: 700;
        font-size: rem(16px);
    }

}

.connect {
    padding: 117px 0px 141px;

    &__grid {
        margin-left: -20px;
        margin-right: -20px;
    }

    &__container {
        position: relative;
    }

    &__image {
        display: block;
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: 735px;
        object-fit: cover;
    }

    &__number {
        font-size: 40px;
        font-weight: 300;
    }

    &__mail {
        font-size: 25px;
        font-weight: 300;
        text-decoration: underline;
        margin: 18px 0px 0px;
    }

    &__col {
        padding-left: 20px;
        padding-right: 20px;

        &_inner {
            margin-left: auto;
            margin-top: 60px;
            flex-direction: column;
        }
    }

    &__left {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

    &__right {
        margin-left: 41.66666667%;
    }

    &__inner {
        width: 100%;
        box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.1);
        padding: 67px 191px 83px;
        margin: 78px 0px 0px;
    }
}


/* checkbox */

.terms-conditions,
.terms-conditions span {
    display: block;
}

.terms-conditions label {
    position: relative;
}

.terms-conditions {
    position: relative;
    color: #9c9c9c;
    font-size: 13px;
    font-weight: 400;
    margin-left: 15px;
}

.form__group.terms-conditions {
    margin-bottom: 0px;
}

.terms-conditions span {
    padding-left: 15px;
    text-align: left;
    color: #9c9c9c;
    cursor: pointer
}

.terms-conditions span::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: -15px;
    background: #fdfdfd;
    border: 1px solid #e4e5e7;
}

.terms-conditions span::after {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: -15px;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    text-align: center;
}

.terms-conditions input[type=checkbox] {
    opacity: 0;
    z-index: -1;
    position: absolute
}

.terms-conditions input[type=checkbox]:checked+span::after {
    font-family: FontAwesome;
    content: "✓";
    background: #ffde00;
    color: #000;
    font-weight: 700;
}

.terms-conditions a {
    color: #9c9c9c;
    text-decoration: underline;
}

.footer {
    padding: 59px 0px 40px;

    &__row {
        margin: 0px -20px 0px;
    }

    &__col {
        padding: 0px 20px;
        margin: 0px 0px 18px;
        min-width: 220px;
    }

    &__text {
        font-weight: 500;
        font-size: rem(16px);
        line-height: normal;
        color: #000;
        margin: 0px 0px 20px;
    }

    &__title {
        font-size: rem(25px);
        line-height: normal;
        text-transform: none;
        margin: 0px 0px 9px;
    }

    &__inner {
        padding-left: 90px;
    }

    &__maplink {
        margin: 37px 0px 0px;
        display: inline-block;
        font-weight: 700;
        font-size: rem(15px);
        color: #8e8e8e;
    }

    &__copy {
        margin: 28px 0px 0px;
        font-weight: 300;
        font-size: rem(15px);
        line-height: normal;
    }

    &__bottom {
        align-items: center;
        justify-content: space-between;
    }

    &__personal {
        margin-bottom: 0;
    }

    &__btn {
        padding: 17px 39px;
    }
}

.up {
    font-weight: 300;

    &__circle {
        display: block;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        background-color: $color-main;
    }
}

.personal {
    &__link {
        text-decoration: underline;
    }
}

.footer__list .list__item {
    margin-bottom: 6px;
    font-weight: 700;
}

.footer__list .list__item:before {
    content: '-';
    display: inline-block;
    vertical-align: 1px;
}

.form {

    &__group {
        position: relative;
        flex: 1 0 auto;
        margin-bottom: 31px;

        &:before {
            content: '';
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
        }

        &_icon-name:before {
            background-image: url(../img/person-icon.png);
            width: 17px;
            height: 17px;
        }

        &_icon-phone:before {
            background-image: url(../img/phone-icon.png);
            width: 15px;
            height: 18px;
        }

        &_icon-type:before {
            background-image: url(../img/type-icon.png);
            width: 17px;
            height: 17px;
        }

        &_icon-price:before {
            background-image: url(../img/price-icon.png);
            width: 11px;
            height: 18px;
        }

        &_large {
            flex: 1 1 100%;
            max-width: 100%;
        }
    }

    &__element {
        position: relative;
        z-index: 20;
        width: 100%;
        resize: none;
        border: none;
        border-bottom: 2px solid #9c9c9c;
        height: 35px;
        color: #000;
        font-family: $font-roboto;
        font-size: 15px;
        color: #333333;
        outline: none;
        padding: 0px 30px;
        background: transparent;
        font-family: Montserrat, sans-serif;


        &:focus {
            border-bottom: 2px solid #5674b9;
        }

        @include inputPlaceholder() {
            color: #333333;
        }
    }

    &__textarea {
        padding-top: 15px;
        height: 170px;
    }

    &__label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 40px;
        color: #707070;
        font-size: rem(16px);
        font-weight: 500;
        cursor: text;
        transition: .2s ease-out;
        z-index: 11;

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 60px;
            opacity: 0;
            transition: .2s opacity ease-out, .2s color ease-out;
        }
    }

    &__btn {
        margin-top: 41px;
    }
}

input:focus+label,
input+label.show {
    color: #5674b9;
    font-size: rem(13px);
    font-weight: 500;
    top: -1em;
    left: 15px;
}

input .feedback__form .form__group {
    flex-basis: 25%;
    max-width: 25%;
}

.feedback__form .form__group_large {
    max-width: 100%;
    flex-basis: 100%;
}

.feedback__form .terms-conditions {
    display: flex;
    justify-content: center;
    margin: 21px 15px 0px;
}

.feedback__form .form__btn {
    margin-top: 31px;
}

.articles {

    &__top {
        position: relative;
    }

    &__time {
        margin: 0px;
        position: absolute;
        top: 35px;
        left: 35px;
        font-weight: 500;
        font-size: rem(15px);
        line-height: 1;
        color: #000;
        background-color: $color-main;
        padding: 10px;
    }

    &__item {
        display: block;
        text-decoration: none;
        color: #000;
        box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        margin-bottom: 50px;
    }

    &__image {
        height: 222px;
        width: 100%;
        max-width: 100%;
        display: block;
        object-fit: cover;
    }

    &__content {
        padding: 26px 30px 16px;
    }

    &__name {
        font-weight: 700;
        font-size: rem(18px);
        line-height: rem(26px);
        margin-bottom: 19px;
    }

    &__text {
        font-size: rem(15px);
        font-weight: 500;
        line-height: rem(24px);
    }

    &__more {
        color: #a1a1a1;
        padding: 15px;
        border: 1px dashed #a1a1a1;
        font-weight: 700;
    }

}


.deal {
    &__row {
        margin-left: -20px;
        margin-right: -20px;
        padding: 30px 0px 0px;
        justify-content: center;
    }

    &__col {
        padding-left: 20px;
        padding-right: 20px;
        min-width: 280px;
    }

    &__item{
        text-align: center;
        margin-bottom: 80px;
    }

    &__text{
        font-size: rem(15px);
        line-height: rem(24px);
        color: #000;
        font-weight: 500;
    }

    &__name{
        font-size: rem(18px);
        font-weight: 700;
    }

    &__image{
        display: block;
        margin: 0 auto 30px;
    }
}

.notes{

    &__container{
        background-color: #f6f6f6;
    }
}

/* hovers */

.hits__hidden {
    opacity: 0;
    transform: scale(0) translateY(-50%);
    transition: all .45s cubic-bezier(.25, .46, .45, .94);
}

.hits__col:hover .hits__hidden {
    opacity: 1;
    transform: scale(1) translate(0%);
    transition: all .95s cubic-bezier(.25, .46, .45, .94);
}

.hits__col:hover .hits__hidden .hits__text,
.hits__col:hover .hits__hidden .hits__info,
.hits__col:hover .hits__hidden .hits__price,
.hits__col:hover .hits__hidden .hits__btn {
    animation: 1s cubic-bezier(.25, .46, .45, .94) both fade-in;
}

.header__menu .menu__link:hover {
    background-color: $color-main;
    border-radius: 4px;
    transition: all .35s cubic-bezier(.25, .46, .45, .94);
}

.callback-btn:hover {
    background-color: $color-main;
    color: #000;
}

.link:hover {
    text-decoration: none;
}

.anchors__link {
    position: relative;
}

.anchors__link:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    bottom: -10px;
    background-color: #0e51a3;
    transition: all .35s cubic-bezier(.25, .46, .45, .94);

}

.anchors__link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    bottom: -10px;
    background-color: #0e51a3;
    transition: all .35s cubic-bezier(.25, .46, .45, .94);

}

.anchors__link:hover:before,
.anchors__link:hover:after {
    width: 100%;
    height: 4px;
    left: 0%;
    transition: all .35s cubic-bezier(.25, .46, .45, .94);
}

.hits__btn {
    position: relative;
    overflow: hidden;
}

.hits__btn:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    z-index: -1;
    opacity: 0;
    transition: all .35s cubic-bezier(.25, .46, .45, .94);
}

.hits__btn:hover:before {
    transition: all .35s cubic-bezier(.25, .46, .45, .94);
    width: 110%;
    height: 110%;
    border-radius: 0;
    opacity: 1;
}

.hits__btn:hover {
    border-color: #fff;
}

.btn:hover {
    transition: box-shadow .3s;
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.hamburger {
    position: relative;
    z-index: 9999;
    display: none;
    cursor: pointer;
}

.hamburger__line {
    width: 30px;
    height: 3px;
    background-color: #0e51a3;
    display: block;
    margin: 5px auto;
    transition: all .3s ease-in-out
}

.hamburger.is-active {
    transition: all .25s cubic-bezier(.25, .46, .45, .94);
    transition-delay: .3s;
    transform: translateX(-50%) rotate(45deg)
}

.hamburger.is-active .hamburger__line:nth-child(2) {
    width: 0
}

.hamburger.is-active .hamburger__line:nth-child(1),
.hamburger.is-active .hamburger__line:nth-child(3) {
    transition-delay: .2s
}

.hamburger.is-active .hamburger__line:nth-child(1) {
    transform: translateY(4px)
}

.hamburger.is-active .hamburger__line:nth-child(3) {
    transform: translateY(-12px) rotate(90deg);
}

.header__social_mobile {
    display: none;
}

.up__circle {
    background-image: url(../img/arrow__up.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.btn_icon-online:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/online.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 32px;
    height: 32px;
    margin-right: 20px;
}

@import "partials/media";