@import "vars";

@media only screen and (max-width: 1250px) {

    .container {
        width: 100%;
    }

    .footer {
        &__inner {
            padding-left: 0;
        }
    }

    body,
    html {
        overflow-x: hidden;
    }

}

@media only screen and (max-width: 1200px) {

    .container {
        width: 100%;
    }

    .counts {
        align-items: center;

        &__info {
            font-size: 1.1rem;
        }
    }

    .header__number:first-child {
        margin-right: 10px;
    }

    .services__col {
        width: 50%;
        min-width: auto;
    }

    .services__col:last-child {
        display: flex;
        width: auto;
        flex: 1 1 100%;
        justify-content: space-between;
        margin: 0px -15px;
    }

    .services__col:last-child .services__item {
        width: 50%;
        margin: 0px 15px 40px;
    }

}

@media only screen and (max-width: 1023px) {
    .hamburger {
        display: block;
    }

    .callback-btn {
        background-image: url(../img/phone-symbol-of-an-auricular-inside-a-circle.svg);
        background-size: 100%;
        font-size: 0;
        background-color: transparent;
        padding: 0px;
        width: 25px;
        height: 25px;
        margin-left: auto;
        object-fit: cover;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .callback-btn:hover {
        background-color: transparent;
        border-radius: 50%;
    }

    .header {
        padding: 15px 0px 15px;
    }

    .header__center {
        margin: 0px 0px 10px;
    }

    .header__center .header__container {
        position: relative;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        padding-right: 50px;
    }

    .header__top {
        order: 1;
    }

    .header__desc {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .header__nav {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        background: rgba(255, 255, 255, 0.95);
        width: 80%;
        height: 100%;
        z-index: 999;
        height: auto;
        bottom: 0;
        box-shadow: 0 15px 65px 0 rgba(0, 0, 0, .17), 0 15px 65px 0 rgba(0, 0, 0, .17);
        transform: translateX(-50%);
        transition: all .75s cubic-bezier(.25, .46, .45, .94), transform .55s cubic-bezier(.25, .46, .45, .94);
    }

    .header__nav.is-visible {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
        transition: opacity .55s cubic-bezier(.25, .46, .45, .94), transform .45s cubic-bezier(.25, .46, .45, .94);
    }

    .header__nav .header__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        transform: translateX(-100%);
        transition: transform .55s cubic-bezier(.25, .46, .45, .94);
        transition-delay: 1s;
    }

    .header__nav.is-visible>.header__container {
        transform: translateX(0%);
        transition: transform .95s cubic-bezier(.25, .46, .45, .94);
    }

    .header__menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .menu__item {
        margin: 0px 0px 10px;
        text-align: center;
    }

    .menu__link {
        color: #000;
        font-size: 1.2rem;
        display: block;
    }

    .header__social {
        display: none;
    }

    .header__social_mobile {
        margin: 20px 0px 0px;
        display: flex;
        justify-content: flex-start;
        text-align: center;
        margin-left: 0;
    }

    .header__social_mobile .social__item {
        display: block;
        margin: 0px 0px 10px;
        width: 50px;
        text-align: center;
    }

    .header__counts {
        display: none;
    }

    .header__number {
        flex: 0 1 auto;
        padding: 0px;
        margin: 0px 10px 5px 0px;
    }

    .header__contacts {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .anchors {
        &__item {
            margin: 0px 30px 15px;
        }
    }

    .vantage {
        &__list {
            justify-content: space-around;
            padding: 30px 0px;
        }
    }

    .callback,
    .feedback {
        padding: 40px 0px 0px;

        &__container {
            padding: 0px;
        }

        &__inner {
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    .services__item {
        padding: 47px 20px;
    }



}

@media only screen and (max-width: 767px) {
    :root {
        font-size: 0.8rem;
    }


    h1,
    .title_h1 {
        font-size: 2.4rem;
    }

    h2,
    .title_h2 {
        font-size: 2.2rem;
    }

    h3,
    .title_h3 {
        font-size: 1.3rem;
    }

    h4,
    .title_h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 1rem;
    }

    h6 {
        font-size: 1rem;
    }

    .pluses {
        position: relative;
        margin-top: 0;
        padding: 45px 0px 100px;
        background-size: cover;

        &__text {
            line-height: normal;
        }
    }

    .pluses:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    .connect {
        padding: 20px 0px 40px;

        &__col {
            width: 100%;
        }

        &__left {
            position: static;
        }

        &__right {
            margin-left: 0;
        }

        &__number {
            font-size: 24px;
        }
    }

    .faq {
        padding: 30px 0px 30px;

        &__info {
            font-size: 2.4rem;
        }

        &__list {
            margin-left: 0;
        }
    }

    .vantage {
        padding: 20px 0px 30px;

        &__item {
            width: 50%;
        }
    }

    .slider {

        &__title {
            font-size: 1.6rem;
        }

        &__text {
            line-height: 1.5;
        }

        &__item {
            height: 550px;
        }

        &__content {
            margin-bottom: 0;
            padding: 20px 15px 20px;
        }
    }

    .footer__up{
        display: block;
        flex: 1 1 100%;
        text-align: center;
        margin: 10px auto 10px;
    }

    .up__circle{
        margin: 0 auto;
    }


}

@media only screen and (max-width: 460px) {
    .header__desc {
        margin-left: 0;
        flex: 1 1 100%;
    }

    .services__item_large {
        min-height: 205px;
    }

    .services__col {
        width: 100%;
    }

    .services__col:last-child .services__item {
        width: 100%;
    }

    .services__col:last-child{
        flex-wrap: wrap;
    }

}